* {
    box-sizing: border-box;
}

div {
    display: block;
}

.parent {
    width: 800px;
    height: 800px;
    padding: 10px;
    border: black 2px solid;
    background-color: sandybrown;
    display: flex;
}

.container_left {
    width: 50%;
    height: 100%;
    padding: 10px;
    margin-right: 5px;
    border: black 2px solid;
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
}

.green {
    width: 100%;
    height: 125px;
    margin-bottom: 10px;
    border: black 1px solid;
    background-color: lawngreen;
}

.blank {
    flex: 1 1;
}

.cyan {
    width: 100%;
    height: 175px;
    border: black 1px solid;
    background-color: cyan;
}

.container_right {
    width: 50%;
    height: 100%;
    padding: 10px;
    margin-left: 5px;
    border: black 2px solid;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.container_right:nth-child(even){
    align-self: flex-start;
}

.blue:nth-child(odd){
    align-self: flex-end;
}

.blue {
    width: 100px;
    height: 100px;
    border: black 1px solid;
    background-color: blue;
}