* {
    box-sizing: border-box;
}

div {
    display: block;
}

.parent {
    width: 800px;
    height: 800px;
    padding: 10px;
    border: black 2px solid;
    background-color: violet;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.green {
    width: 100%;
    height: 33.333%;
    padding: 10px;
    margin-top: 10px;
    border: black 2px solid;
    background-color: lawngreen;
    align-self: center;
    align-items: center;
    display: flex;
}

.yellow {
    width: 25%;
    height: 100%;
    border: black 1px solid;
    background-color: yellow;
    align-content: center;
}

.blue {
    width: 100px;
    height: 100px;
    border: black 1px solid;
    background-color: blue;
}

.child_container_1 {
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0px;
}

.child_container_2 {
    justify-content: space-between;
    flex-flow: column wrap;
}

.blue_center_left {
    align-self: flex-start;
}

.blue_center_right {
    align-self: flex-end;
}

.child_container_3 {
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
}
