* {
    box-sizing: border-box;
}

div {
    display: block;
}

.parent {
    width: 800px;
    height: 800px;
    padding: 10px;
    border: black 2px solid;
    background-color: red;
    display: flex;
}

.yellow_container {
    width: 250px;
    height: 100%;
    padding: 10px;
    border: black 2px solid;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.green {
    width: 100%;
    height: 100px;
    border: black 1px solid;
    background-color: lawngreen;
}

.burgundy_scroll {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.burgundy {
    margin-top: 10px;
    width: 85%;
    height: 75px;
    min-height: 75px;
    border: black 1px solid;
    background-color: #6E0A1E;
}

.blank_container {
    width: calc(100% - 250px);
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.light_yellow {
    width: 100%;
    height: 100px;
    min-height: 100px;
    border: black 1px solid;
    background-color: #FFFF99;
}

.purple_container {
    width: 100%;
    height: 250px;
    min-height: 250px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.purple {
    width: 49%;
    height: 250px;
    border: black 1px solid;
    background-color: mediumpurple;
}

.blue_container {
    width: 100%;
    height: 185px;
    min-height: 185px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.blue {
    width: 32%;
    height: 185px;
    border: black 1px solid;
    background-color: blue;
}

.light_green {
    width: 100%;
    flex: 1 1 100%;
    margin-top: 10px;
    border: black 1px solid;
    background-color: lightgreen;
}